@media screen and ( max-width: 1400px ) 
  .nav
    &__item
      margin-right: 2rem
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 380px )
  .container
    width: 90.2%
    max-width: 375px
    margin: auto
  .header
    padding: 15.3px 0
    .logo
      font-size: 1rem
      font-family: 'Futura Dimi'
      font-style: normal
      font-weight: 500
      line-height: 1.17rem
.title
  margin: 0
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 1.91rem
  line-height: 132.83%
  font-weight: 100
.hero
  &__text
    min-width: 316px
    font-family: 'Futura Book', sans-serif
    font-size: 1.5rem
    line-height: 135.84%
    margin: 1rem 0 4.7rem 0
  &__button
    margin-bottom: 2.15rem
    width: 340px
    height: 51px
    margin-top: -1.8rem
    margin-bottom: 4rem