@media screen and ( max-width: 1400px ) 
  .nav
    &__item
      margin-right: 1.5rem
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 880px )
  .row
    &__flex
      flex-direction: column
      align-items: center
  .swiper
    &-slide
      &::after
        content: ''
        padding-bottom: 110px
      &r
        &-image
          margin-top: 0
      &__text
        flex-basis: 46.9%
        letter-spacing: -0.08rem
      &__heading
        margin-bottom: 0.8rem
      &__value
        font-size: 1.27rem
        letter-spacing: -0.04rem
  .mobile-order-top
    order: -1
  .col-50
    width: 100%
  .section
    padding: 50px 0
    &-title
      &__heading
        margin-top: -6px
        font-size: 1.83rem
        line-height: 2.5rem
        text-align: center
        letter-spacing: -0.07em
      &__word
        letter-spacing: -0.11em
        display: block
        &::after
          display: none
          margin: 0
      &_left
        display: flex
        flex-direction: column
        align-items: center
      &__text
        text-align: center
        line-height: 1.9rem
        max-width: 24.27rem
        margin-top: 0.45rem
        letter-spacing: -0.08rem
        margin-bottom: 3.2rem
@media screen and ( max-width: 760px )
  .row
    &__block
      flex-direction: column
      align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
      max-width: 25.1rem
      margin-top: -13.4rem
      padding: 1.91rem 3.04rem
      margin-bottom: 6.6rem
    &__image
      &_photo
        background: url('../img/types/type-2.1.jpg')
        z-index: 99
    &__list
      line-height: 2.16rem
    &__pricetag
      &_one
        bottom: -1.09rem
        font-size: 1.39rem
        padding: 1.114rem 3.1rem
      &_two
        bottom: -1.49rem
        font-size: 1.39rem
        padding: 1.014rem 4.4rem
  .design
    background-color: $dark
    &__section-title
      color: $light
  .section
    &-title
      &__heading
        font-size: 2rem
        line-height: 2.5rem
      &__description
        margin-top: 1.64rem
        font-size: 1.39rem
        line-height: 1.4
        max-width: 28rem
        font-style: normal
        font-weight: normal
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__title
      max-width: 27rem
    &__scroll-down
      display: none
    &__content
      max-width: none
    &__text
      position: relative
      font-family: 'Futura Book', sans-serif
      font-size: 1.5rem
      line-height: 2.1rem
      margin: 1rem 0 2.9rem 0
      max-width: 26.4rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem

@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 380px )
  .container
    width: 90.2%
    max-width: 375px
    margin: auto
  .header
    position: absolute
    padding: 19.6px 0
    .logo
      font-size: 1rem
      font-family: 'Futura Dimi'
      font-style: normal
      font-weight: 500
      line-height: 1.17rem
  .title
    margin: 0
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    font-size: 1.91rem
    line-height: 132.83%
    font-weight: 100
  .hero
    &__content
      margin-top: 38.3px
      margin: 0
    &__button
      position: relative
      margin-bottom: 2.15rem
      height: 51px
      min-width: 100%
  .types
    &__section-title
      margin-bottom: 3.8rem
  .card
    &__title
      font-style: normal
      font-weight: normal
      font-size: 1.25rem
      line-height: 1.5rem
  .button
    &-swiper
      margin-bottom: 3rem
@media screen and ( max-width: 330px )
  .hero
    &__text
      max-width: 20.6rem

//   git commit -m "feat: Desktop First"      