*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  padding: 60px 0
  &_dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &_left
      text-align: left
    &_light
      color: $light
    &__heading
      text-transform: uppercase
      font-family: 'Yeseva One', cursive
      font-weight: normal
      font-style: normal
      font-size: 1.43rem
      line-height: 2rem
      line-height: 138%
      &_primary
        color: $primary
        letter-spacing: -0.07em
        font-size: 1.92rem
        line-height: 2.64rem
    &__word
      display: flex
      align-items: center
      letter-spacing: -0.07em
      font-size: 1.92rem
      line-height: 2.64rem
      &::after
        content: ''
        width: 92px
        height: 2px
        background-color: $primary
        margin-left: 2.4rem
    &__text
      font-style: normal
      font-weight: normal
      font-size: 1.33rem
      line-height: 2.1rem
      max-width: 31.57rem
      font-family: 'Futura Book', cursive
      letter-spacing: -0.03rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
    &__description
      font-family: 'Futura Book', cursive
      margin: auto
      font-size: 1.43rem
      line-height: 1.93rem
      text-align: center
      max-width: 52.7rem
      margin-top: 1rem
      margin-bottom: 3.5rem
      font-style: normal
      font-weight: normal
      