.teams
  &__section-title
    margin-bottom: 2rem
  &__card
    width: 19.428rem
  &__block
    position: relative
    max-width: 16.642rem
    margin: 0 auto
    margin-top: -5.8rem
    background-color: #fff
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem
    padding-top: 1.4rem
    margin-top: 0
    margin-bottom: 0.5rem
    text-align: center
  &__description
    margin-top: 0rem
    text-align: center
    font-style: normal
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.857rem
    color: $secondary
  &__experience
    display: flex
    justify-content: center
    max-width: 16.642rem
    height: 44px
    background-color: $primary
    bottom: -2.89rem
  &__pricetag
    position: absolute
    text-align: center
    line-height: 3rem
    font-size: 0.928rem
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    color: $light
    text-transform: uppercase
    &_three
      flex-basis: 100%
  &__text
    max-width: 40.785rem
    letter-spacing: -0.4px
    margin: auto
    margin-top: 4rem
    margin-bottom: 4.285rem
    text-align: center
    font-size: 1.528rem
    line-height: 2.43rem
    padding-bottom: 13rem
    &::before
      content: ''
      display: block
      margin: auto
      margin-bottom: 2.5rem
      font-style: normal
      font-weight: normal
      width: 55px
      height: 2px
      background-color: $primary
      border-radius: 30px
  &__icon
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 5rem
    height: 5rem
    background-color: $primary
    margin-bottom: -2.5rem
    margin-left: -2.5rem
